{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class="container mb-4">
  {% include 'post.html' %}
</div>
{% endfor %}
{% endblock %}

<script>
const container = document.querySelector('#post-container');
const postImage = document.querySelector('#post-image');

function resizeImage() {
  console.log('resizing image...')
  const containerWidth = container.offsetWidth;
  const imageWidth = containerWidth * 0.92;
  postImage.style.width = `${imageWidth}px`;
}

resizeImage(); // set initial width

window.addEventListener('resize', resizeImage); // update width on window resize

</script>
