{% include 'base.html' %}

{% block additional_css %}
<link rel="stylesheet" href="../static/css/feed.css">
{% endblock %}

{% for post in posts %}
<div class="container mb-4">
   {% include 'post.html' %}
</div>
{% endfor %}      
</div>

<script>

function allowDrop(event) {
  event.preventDefault();
}

function dropImage(event) {
  event.preventDefault();
  var files = event.dataTransfer.files;
  var file = files[0];

  // Only process image files.
  if (!file.type.match('image.*')) {
    return;
  }

  var reader = new FileReader();
  reader.onload = function(e) {
    var imagePreview = document.getElementById("image-preview");
    var image = document.createElement("img");
    image.src = e.target.result;
    imagePreview.innerHTML = "";
    imagePreview.appendChild(image);
  };
  reader.readAsDataURL(file);
}

function previewImage(event) {
  const input = event.target;
  const previewContainer = document.getElementById("image-preview");
  previewContainer.innerHTML = ""; // Clear any previous preview
  
  if (input.files && input.files[0]) {
    const reader = new FileReader();
    reader.onload = function(e) {
      const img = document.createElement("img");
      img.src = e.target.result;
      
      const deleteBtn = document.createElement("button");
      deleteBtn.innerHTML = "x";
      deleteBtn.classList.add("delete-btn");
      deleteBtn.addEventListener("click", function() {
        previewContainer.innerHTML = "";
        input.value = "";
      });
      
      previewContainer.appendChild(img);
      previewContainer.appendChild(deleteBtn);
    };
    
    reader.readAsDataURL(input.files[0]);
  }
}      
</script>

<script src="{{ url_for('static', filename='js/likes.js') }}"></script>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
