{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="updateModalTrigger" style="display: none;" data-bs-toggle="modal" data-bs-target="#updateModal">
    Launch demo modal
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">{{ latest_update[2] }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
              <p id="modalContent">{{ latest_update[3].replace('\r\n\r\n', '<br>⚔️')|safe }}
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
    </div>
  </div>

 
<div class="container mx-auto" style="margin-top: 100px;">
  <div class="row">
      <!-- First Card -->
      <div class="col-md-6 col-lg-3">
          <div class="card mb-3">
              <a href="/message" style="text-decoration: none; color: inherit;">
                  <div class="container">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                      </svg>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title text-center">Global Chatroom</h5>
                      <!-- Add any additional content here if needed -->
                  </div>
              </a>
          </div>
      </div>

      <!-- Second Card -->
      <div class="col-md-6 col-lg-3">
          <div class="card mb-3">
              <a href="/feed" style="text-decoration: none; color: inherit;">
                  <div class="container">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-post" viewBox="0 0 16 16">
                          <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                          <path d="M4 6.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5"/>
                      </svg>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title text-center">Global Feed</h5>
                      <!-- Add any additional content here if needed -->
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>

{% endblock %}

<script>
    if (document.cookie.indexOf("updated_cookie=false") !== -1) {
        // Log the entire cookie string
        console.log("Cookie String:", document.cookie);
    
        // Log the value of the 'updated_cookie' cookie
        var updatedCookieValue = document.cookie
            .split('; ')
            .find(cookie => cookie.startsWith('updated_cookie='))
            .split('=')[1];
        
        console.log("Value of updated_cookie:", updatedCookieValue);
    
        // Check if the value is false before triggering the modal
        if (updatedCookieValue === 'false') {
            // Delay the execution of the click event by 100 milliseconds
            setTimeout(function() {
                // Trigger the modal
                document.getElementById('updateModalTrigger').click();
            }, 100);
    
            // Update the value of the 'updated_cookie' to true
            document.cookie = "updated_cookie=true";
        }
    }    
</script>