{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body text-center">
            <div class="position-relative">
              <img src="data:image/png;base64,{{ background_pic }}" alt="Background Picture" class="w-100 mb-3">
              <img src="data:image/png;base64,{{ profile_pic }}" alt="Profile Picture" class="rounded-circle position-absolute bottom-0 start-50 translate-middle-x" width="150">
            </div>
            <div class="mt-4 container">
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    Column
                  </div>
                  <div class="col-6">
                    <h1 class="">{{ username }}'s Profile</h1>
                  </div>
                  <div class="col">
                    {% if session['username']|lower != username|lower %}
                    {% if request_status is none %}
                      <form action="/send_request" method="post">
                        <!-- Hidden input for recipient -->
                        <input type="hidden" id="recipient" name="recipient" value="{{ user_id }}" required>
                        <button class="btn btn-primary" type="submit">Send Friend Request</button>
                      </form>
                      {% elif request_status == "Accepted" %}
                      <button class="btn btn-pill btn-outline-secondary">Send Friend Request</button>
                      {% elif request_status == "Pending" %}
                      <button class="btn btn-primary">Accept Request</button>
                    {% endif %}
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h5>Name: {{ first_name }} {{ last_name }}</h5>
            <p class="mt-3">{{ bio }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% for post in posts %}
<div class="container mb-4">
  {% include 'post.html' %}
</div>
{% endfor %}      
{% endblock %}

<script src="{{ url_for('static', filename='js/likes.js') }}"></script>

